Package: com.kaneb.kbapplist
Name: KBAppList
Depends: 
Architecture: iphoneos-arm
Description: Kane's AppList
Maintainer: Kane Buckthorpe
Author: Kane Buckthorpe
Section: System
Tag: role::developer
Version: 0.0.6
Installed-Size: 372
