Package: com.kaneb.libkbapplist
Name: libKBAppList
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: AppList useful for Tweaks
Maintainer: Kane Buckthorpe
Author: Kane Buckthorpe
Section: System
Tag: role::developer
