<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	<dict>
		<key>key</key>
		<string>KBUserAppList</string>
		<key>defaults</key>
		<string>com.kaneb.kbapplist</string>
		<key>default</key>
		<string>selected</string>
		<key>postNotification</key>
		<string>com.kaneb.kbapplist/prefChanged</string>
		<key>appList</key>
		<string>userApps</string>
		<key>label</key>
		<string>userApps</string>
		<key>selectionAllowance</key>
		<string>5</string>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>detail</key>
		<string>ALViewController</string>
		<key>icon</key>
		<string>icon.png</string>
		<key>isController</key>
		<true/>
	</dict>
	<dict>
		<key>defaults</key>
		<string>com.kaneb.kbapplist</string>
		<key>key</key>
		<string>KBSystemAppList</string>
		<key>default</key>
		<string></string>
		<key>postNotification</key>
		<string>com.kaneb.kbapplist/prefChanged</string>
		<key>appList</key>
		<string>systemApps</string>
		<key>label</key>
		<string>systemApps</string>
		<key>selectionAllowance</key>
		<string>-7</string>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>detail</key>
		<string>ALViewController</string>
		<key>icon</key>
		<string>icon.png</string>
	</dict>
	<dict>
		<key>defaults</key>
		<string>com.kaneb.kbapplist</string>
		<key>key</key>
		<string>KBAllAppList</string>
		<key>default</key>
		<string></string>
		<key>postNotification</key>
		<string>com.kaneb.kbapplist/prefChanged</string>
		<key>appList</key>
		<string>allApps</string>
		<key>label</key>
		<string>allApps</string>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>detail</key>
		<string>ALViewController</string>
		<key>icon</key>
		<string>icon.png</string>
	</dict>
	<dict>
		<key>defaults</key>
		<string>com.kaneb.kbapplist</string>
		<key>key</key>
		<string>KBMusicAppList</string>
		<key>default</key>
		<string></string>
		<key>postNotification</key>
		<string>com.kaneb.kbapplist/prefChanged</string>
		<key>appList</key>
		<string>audioApps</string>
		<key>label</key>
		<string>audioApps</string>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>detail</key>
		<string>ALViewController</string>
		<key>icon</key>
		<string>icon.png</string>
	</dict>
	<dict>
		<key>defaults</key>
		<string></string>
		<key>key</key>
		<string>KBMusicAppList</string>
		<key>default</key>
		<string></string>
		<key>postNotification</key>
		<string>com.kaneb.kbapplist/prefChanged</string>
		<key>appList</key>
		<string>audioApps</string>
		<key>label</key>
		<string>audioApps</string>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>detail</key>
		<string>ALViewController</string>
		<key>icon</key>
		<string>icon.png</string>
	</dict>
	</array>
	<key>title</key>
	<string>testpref</string>
</dict>
</plist>
