<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>testpref First Page</string>
		</dict>
		<dict>
			<key>preferencesID</key>
			<string>KBUserAppList</string>
			<key>default</key>
			<string>selected</string>
			<key>postNotificationID</key>
			<string>com.kaneb.kbapplist/prefChanged</string>
			<key>appList</key>
			<string>userApps</string>
			<key>label</key>
			<string>userApps</string>
			<key>selectionAllowance</key>
			<string>5</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ALViewController</string>
			<key>icon</key>
			<string>icon.png</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>preferencesID</key>
			<string>KBSystemAppList</string>
			<key>default</key>
			<string></string>
			<key>postNotificationID</key>
			<string>com.kaneb.kbapplist/prefChanged</string>
			<key>appList</key>
			<string>systemApps</string>
			<key>label</key>
			<string>systemApps</string>
			<key>selectionAllowance</key>
			<string>1</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ALViewController</string>
			<key>icon</key>
			<string>icon.png</string>
		</dict>
		<dict>
			<key>preferencesID</key>
			<string>KBAllAppList</string>
			<key>default</key>
			<string></string>
			<key>postNotificationID</key>
			<string>com.kaneb.kbapplist/prefChanged</string>
			<key>appList</key>
			<string>allApps</string>
			<key>label</key>
			<string>allApps</string>
			<key>selectionAllowance</key>
			<string>10</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ALViewController</string>
			<key>icon</key>
			<string>icon.png</string>
		</dict>
		<dict>
			<key>preferencesID</key>
			<string>KBMusicAppList</string>
			<key>default</key>
			<string></string>
			<key>postNotificationID</key>
			<string>com.kaneb.kbapplist/prefChanged</string>
			<key>appList</key>
			<string>audioApps</string>
			<key>label</key>
			<string>audioApps</string>
			<key>selectionAllowance</key>
			<string></string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ALViewController</string>
			<key>icon</key>
			<string>icon.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>testpref</string>
</dict>
</plist>
